/* #region common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

section {
    padding: 3rem 0;
}

:root {
    --res--black: #111111;
    --res--white: #FFFFFF;
    --res--primary: #9792E4;
    --res--secondary: #0084FC;
    --res--secondary-light: #B5DDFF;
    --res--footer: #333333;
    --res--dark: #5A6E7F;
    --res--warning: #FCC15F;
}
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.9rem;
}

h5 {
    color: var(--res--secondary);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0;
}

h6 {
    font-size: 1.2rem;
    font-weight: 400;
}
p {
    font-size: 0.9rem;
}
a {
    text-decoration: none;
}
/* #endregion */

/* #region utilities */
.row {
    display: flex;
    flex-wrap: wrap;
}
.space_between {
    justify-content: space-between;
}
.align_items {
    align-items: center;
}
.container {
    width: 90%;
    margin: auto;
}
.col_12 {
    width: 100%;
}
.col_4 {
    width: calc(100% / 12 * 4);
}
.col_8 {
    width: calc(100% / 12 * 8);
}
.space {
    padding: 0.5rem;
}
.text_center {
    text-align: center;
}
/* #endregion */

/* #region debug */
.debug header {
    height: 80px;
    background-color: var(--res--secondary);
}
.debug .logo,
.debug .nav {
    height: 60px;
    border: 1px solid;
}
.debug .col_12 {
    height: 30px;
    border: 1px solid;
}
.debug .title_testimonials,
.debug .quote {
    height: 100px;
    border: 1px solid;
}
.debug .banner>.container {
    height: 100px;
    border: 1px solid;
}
.debug footer {
    height: 100px;
}


/* #endregion */

/* #region header */
header {
    background-color: var(--res--secondary);
}
header .logo,
header .nav {
    padding: 1rem 0;
}
header .nav.row {
    display: none;
}
.bar {
    color: var(--res--white);
    font-size: 2rem;
}

header .nav {
    font-size: 0.9rem;
}
header li {
    display: inline-block;
    padding: 0 1rem;
}
header a {
    color: var(--res--white);
}
.button a {
    color: var(--res--black);
    background-color: var(--res--white);
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    
}

/* #endregion */


/* #region main */
.planning,
.benefits,
.banner {
    background-color: var(--res--primary);
}

.card {
    background-color: var(--res--secondary-light);
    margin: 0rem;
    border-radius: 20px;
    height: 100%;
}
.demo .col_mx_6 {
    padding:0 1rem;
}
.demo p {
    line-height: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
.demo a {
    color: var(--res--white);
    background-color: #0084FC;
    padding: 0.5rem 3rem;
    border-radius: 30px;
    font-weight: 500;
}

.demo .text_center i {
    margin-bottom: 1rem;
    color: var(--res--secondary);
    font-size: 4rem;
    padding-top: 1.5rem;
}

.demo img {
    margin-top: 2rem;
}

.planning h1 {
    color: var(--res--white);
    margin: 3rem 0;
}

.planning p {
    color: var(--res--white);
    line-height: 2rem;
    font-weight: 500;
}

.card_white {
    background-color: var(--res--white);
    border-radius: 40px;
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: center;
}

.planning .card_white p {
    color: var(--res--black);
    font-style: italic;
}

.planning .card_white h5 {
    color: var(--res--black);
}

.planning .card_white i {
    font-size: 1.5rem;
    padding: 1rem 1.2rem;
    color: var(--res--black);
    background-color: var(--res--primary);
    border-radius: 50%;
    text-align: center;
    margin-top: 1rem;
}

.title_testimonials {
    text-align: center;
}

.testimonials h6 {
}

.testimonials h2 {
    color: var(--res--primary);
    margin: 1rem 0;
}

.testimonials p {
    padding: 0 1rem;
    line-height: 2rem;
}

.quote {
    background-color: var(--res--primary);
    border-radius: 30px;
    text-align: center;
    margin-top: 1rem;
}

.quote img {
    width: 60%;
    border-radius: 40%;
    margin: 1rem 0;
    border-radius: 50%;
    aspect-ratio: 1;
}

.quote p,
.sign {
    color: var(--res--white);
    font-weight: 600;
    margin: 1rem 0;
}



/* #region footer */
footer {
    background-color: var(--res--footer);
}
/* #endregion */

/*#region media query */
@media screen and (min-width: 480px) {
    .demo .col_md_8 {
        width: calc(100% / 12 * 8);
    }
    .demo .col_md_4 {
        width: calc(100% / 12 * 4);
    }
    .benefits .col_md_6 {
        width: calc(100% / 12 * 6);
    }
    .about_us .col_md_7 {
        width: calc(100% / 12 * 7);
    }
    .about_us .col_md_5 {
        width: calc(100% / 12 * 5);
    }
    .quote .col_md_4 {
        width: calc(100% / 12 * 4);
    }
    .quote .col_md_8 {
        width: calc(100% / 12 * 8);
    }
    .banner .container,
    footer .container {
        width: 80%;
    }

}

@media screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
    .demo .col_mx_6 {
        width: calc(100% / 12 * 6);
    }    
    .planning .col_md_6 {
        width: calc(100% / 12 * 6);
    }
    .benefits .col_mx_4 {
        width: calc(100% / 12 * 4);
    }
    .about_us .col_mx_8 {
        width: calc(100% / 12 * 8);
    }
    .about_us .col_mx_4 {
        width: calc(100% / 12 * 4);
    }
    .quote .col_mx_2 {
        width: calc(100% / 12 * 2);
    }
    .quote .col_mx_10 {
        width: calc(100% / 12 * 10);
    }
    .banner .container,
    footer .container {
        width: 30%;
    }
    header .bar.row {
        display: none;
    }
    header .nav.row {
        display: flex;
    }
    .planning .container{
        width: 60%;
    }
    .planning .row {
        align-items: flex-end;
    }
    .card_white img {
        width: 50%;
    }
    .planning .col_md_6 {
        padding: 2rem;
    }
}
/* #endregion */


